
$grey-co: #505050;
$grey-light-co: #828282;
$grey-lighter-co: #dbdbdb;
$blue-co: #024F9E;
$blue-light-co: #0A7EF5;
$orange-co:#FC8F00;
$orange-light-co:#ffab3d;
$mint-co : #F9FBFF;

$size1: 48px;
$size15:40px;
$size2: 32px;
$size3: 24px;
$size35: 18px;

$size1mb: 24px;
$size15mb: 20px;
$size2mb: 18px;
$size3mb: 12px;
$size35mb: 9px;

$sizedf:16px;

h1{
  font-size: $size1 !important;
}
h2{
  font-size: $size15 !important;
}
h3{
  font-size: $size2 !important;
}
h4{
  font-size: $size3 !important;
}
h5{
  font-size: $size35 !important;

}
@media (max-width: 991.98px) {
  h1{
    font-size: $size1mb !important;
  }
  h2{
    font-size: $size15mb !important;
  }
  h3{
    font-size: $size2mb !important;
  }
  h4{
    font-size: $size2mb !important;
  }
  h5{
    font-size: $size2mb !important;
  }

}



@mixin line-limit($num-line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num-line;
  -webkit-box-orient: vertical;
}

@import "layout/header";
@import "layout/footer";
@import "layout/side-bar";
@import "layout/owlcarosel";

@import "pages/home";
@import "pages/intro";
@import "pages/service";
@import "pages/product-list";
@import "pages/detail-product";
@import "pages/posts";
@import "pages/detail-post";
@import "pages/contact";

@import "reponsive";

body {
  padding: 0;
  margin-top: 138px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  @media (max-width: 1024px) { 
    margin-top: 90px;
}
}

p.detail{
  font-size: $size3;
  @media (max-width: 1024px) { 
      font-size: $sizedf;
  }
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
  }
}


a.current-page {
  font-weight: bold;
  color: black !important;
  position: relative;
  // text-decoration: underline;
  // -webkit-text-underline-position: under;
  // -ms-text-underline-position: below;
  // text-underline-position: under;
}

// .container{
//   width: 1248px !important;
// }

#header,#mb-menu{
  a.current-page {
    &::after{
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -10px;
      background: $blue-co;
    }
  }
}

#footer{
  a.current-page {
    color: $orange-co !important;
    font-weight: normal;
  }
}



.blue-co {
  color: $blue-co;
}
.blue-light-co {
  color: $blue-light-co;
}
.grey-co {
  color: $grey-co;
}
.grey-light-co {
  color: $grey-light-co;
}
.orange-co {
  color: $orange-co;
}
.blue-bg{
  background: $blue-co !important;
}


.co-hv:hover {
  color: $blue-light-co;
}
.bg-hv:hover {
  background-color: $blue-light-co;
}

.btn-cus{
  font-weight: bold;
  padding: $size35 $size1 ;
  @media (max-width: 991.98px) {
    padding: $size35mb $size1mb ;
}
  background: $orange-co;
  border-radius: 6px;
  box-shadow: 0 5px 3px 0px #8484844d;
  a{
    color: white;
  }
  &:hover{
    background:$orange-light-co;
  }
  &:focus{
  }
}
.btn-cus2
{
  font-weight: bold;
  padding: $size35 $size1 ;
  @media (max-width: 991.98px) {
    padding: $size35mb $size1mb ;
}
  background: white;
  border-radius: 6px;
  box-shadow: 0 5px 3px 0px #8484844d;
  a{
    color: $blue-co;
  }
  &:hover{
    background:rgb(247, 247, 247);
  }
  &:focus{
  }
}

.mb-4mb{
  margin-bottom: 12px;
}

.under-line{
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

$hv-scale:1.03;
.cardhover {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale($hv-scale);
  }
}

.imghover-op {
  &:hover {
    opacity: 0.8;
  }
}


.pagenavi{
  text-align: center;
  line-height: 2;
  margin-top: $size1;
  @media (max-width: 991.98px) {
    margin-top: $size1mb;
  }
  *{
    margin-right: 28px;    
  }
  span.current{
    background: $blue-co;
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
  }
  .next,.prev {
    color: $blue-co;
  }
  .prev-fake{
    cursor: default;
  }
  a{
    color: #515151;
  }
}

.wpcf7-response-output{
  font-weight: bold;
  color: #09c750;
  border: none !important;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
}