#bottom_to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: $red-co-50;
  bottom: -100px;
  right: 30px;
  transition: 0.3s ease;
  &:hover {
    background: $red-co;
  }
  i {
    font-size: $size3;
  }
}
#call_me {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: $red-co-50;
  bottom: 30px;
  left: -100px;
  transition: 0.3s ease;
  &:hover {
    background: $red-co;
  }
  i {
    font-size: $size3;
  }
}
#footer {
  background: #e9e9e9;
  padding: 16px 0;
  .fLeft {
    .company-name {
      font-size: $size3;
    }
    .address,
    .tel,
    .email {
      font-size: $size3;
      @media (max-width: 992px) {
        font-size: $sizedf;
      }
    }
  }
  .fRight {
    .fNav {
      // max-width: 646px;
      li {
        font-size: $size3;
        // font-weight: bold;
        margin-left: 40px;
      }
    }
  }
}
.footer-top {
  .menu {
    display: flex;
    justify-content: space-between;
    margin: 48px auto;
    a {
      font-weight: bold;
      margin: 48px 0;
      font-size: 36px;

      &:nth-child(1) {
        color: $blue;
      }
      &:nth-child(2) {
        color: $green;
      }
      &:nth-child(3) {
        color: $red;
      }
      &:nth-child(4) {
        color: $purple;
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer-top {
    .menu {
      flex-direction: column;
      a {
        margin: 12px 0;
        font-size: 24px;
      }
    }
  }
}
