.owl-carousel {
  position: relative;
  .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-nav{
    position: absolute;
    color:$grey-light-co;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    display: flex;
    justify-content: space-between;
    top: 20%;
    @media (max-width: 992px) { 
      width: 109%;
      top: 30%;
    }
    span{
      font-size: 50px;
      @media (max-width: 992px) { 
        font-size: 35px;
      }
    }
  }

  button.owl-dot:not(:first-child) {
    margin-left: 12px;
  }
  button.owl-dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    // border: 2px solid $blue-light-co !important;
    background: $grey-light-co;
    transition: 0.2s;
    &:hover {
      background: $blue-light-co !important;
    }
    &.active {
      background: $blue-light-co !important;
    }

    @media (min-width: 992px) {
      // width: 10px;
      // height: 10px;
      // border-radius: 100%;
    }
  }
}
